{% extends 'main.html' %}

{% load crispy_forms_tags %}

{%block content %}
<br/>
<form action="/generateresponse/" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}

    <hr/>

    {{ formset.management_form }}

        {% for form in formset %}

        <table class="">
            <br/>
            <hr/>
            <tr>
                <td >{{ form.recordIdentifer.label }}<br/>{{ form.recordIdentifer }}</td>

                <td >{{ form.recordRefernceNo.label }}<br/>{{ form.recordRefernceNo }}</td>
                <td >{{ form.ifscCode.label }}<br/>{{ form.ifscCode }}</td>
                <td >   {{ form.destinationBankAccountNo.label }}<br/>  {{ form.destinationBankAccountNo }}</td>


            </tr>

            <tr>
                   <td colspan="2"> {{ form.accountValidFlag.label }}<br/>{{ form.accountValidFlag }}</td>
                     <td> {{ form.jointAccountFlag.label }}<br/>{{ form.jointAccountFlag }}</td>
                 <td>  {{ form.primaryPan.label }}<br/>{{ form.primaryPan }}</td>


            </tr>
            <tr>
                <td>   {{ form.secondaryPan.label }}<br/>{{ form.secondaryPan }}</td>
                 <td> {{ form.primaryAccountHolderName.label }}<br/>{{ form.primaryAccountHolderName }}</td>
                <td>  {{ form.secondaryAccountHolderName.label }}<br/>{{ form.secondaryAccountHolderName }}</td>
                 <td>   {{ form.accountType.label }}<br/> {{ form.accountType }}</td>

            </tr>
        </table>
        {% endfor %}

     <input type="submit" value="Submit">
</form>



{% endblock content %}