{% extends 'main.html' %}

{% load crispy_forms_tags %}

<style>

</style>
{%block content %}


<br/>
<form action="/generateresponse/" method="post"  enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}



    {{ formset.management_form }}
 <table class=" ">

        {% for form in formset %}



            <tr>

                <td >{{ form.ifscCode.label }}*<br/>{{ form.ifscCode }}</td>
                <td >   {{ form.destinationBankAccountNo.label }}*<br/>  {{ form.destinationBankAccountNo }}</td>

                 <td> {{ form.jointAccountFlag.label }}*<br/>{{ form.jointAccountFlag }}</td>
                 <td>  {{ form.primaryPan.label }}<br/>{{ form.primaryPan }}</td>

                  <td> {{ form.primaryAccountHolderName.label }}*<br/>{{ form.primaryAccountHolderName }}</td>

                     <td>   {{ form.secondaryPan.label }}<br/>{{ form.secondaryPan }}</td>
                 <td>  {{ form.secondaryAccountHolderName.label }}*<br/>{{ form.secondaryAccountHolderName }}

                                           </td>

            </tr>

            <tr>

            <td colspan="4"> {{ form.accountValidFlag.label }}*<br/>{{ form.accountValidFlag }}</td>

             <td>   {{ form.accountType.label }}*<br/> {{ form.accountType }}</td>

                 <td >{{ form.recordIdentifer }}</td>

                 <td  >{{ form.recordRefernceNo }}</td>
            </tr>
     <tr><td>{{form.errors}}</td></tr>
     <tr>
         <td colspan="10"> <hr class="new5"/></td>
     </tr>


        {% endfor %}

<tr>

    <td colspan="8" align="center"><input type="submit" class="btn btn-primary" value="Submit"></td>
</tr>
      </table>

</form>



{% endblock content %}